<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vector DB Explorer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="container">
        <header
            style="display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid var(--core-color); padding-bottom: 5px;">
            <h1>VECTOR DB EXPLORER</h1>
        </header>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
</body>

</html>